@charset "UTF-8";
.form-select-wrap{
    display: flex;
    max-width: 300px;
    align-items: center;
}
.form-select-wrap > select{
    padding: 8px 16px;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid gray;
    border-radius: 4px;
    font-size: 14px;
}
textarea {
    resize: none;
    width:900px;
    height:50px;
}
.button {
    display       : inline-block;
    border-radius : 21%;          /* 角丸       */
    font-size     : 13pt;        /* 文字サイズ */
    text-align    : center;      /* 文字位置   */
    cursor        : pointer;     /* カーソル   */
    padding       : 12px 12px;   /* 余白       */
    background    : #6666ff;     /* 背景色     */
    color         : #ffffff;     /* 文字色     */
    line-height   : 1em;         /* 1行の高さ  */
    transition    : .3s;         /* なめらか変化 */
    border        : 2px solid #6666ff;    /* 枠の指定 */
}
.button:hover {
    color         : #6666ff;     /* 背景色     */
    background    : #ffffff;     /* 文字色     */
}